/* Couleurs */
body {
    background-color: rgb(196, 114, 114) /* Fond rouge */
  }
  
  /* Formulaire */
  .form-control {
    background-color: #ffffff; /* Cases d'inscription blanches */
    border-color: #e6e6e6;
  }
  
  .form-label {
    color: #ffffff; /* Labels blancs */
  }
  
  /* Centrage */
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  /* Logo */
  .logo {
    display: block;
    margin: 0 auto;
    width: 200px; /* Ajuster la largeur du logo */
  }
  

  
  /* Media queries pour les smartphones */
@media (max-width: 768px) {
    .container {
      padding: 20px;
    }
  
    .formulaire {
      flex-direction: column;
    }
  
    .form-control {
      margin-bottom: 10px;
    }
  }
  
  /* Media queries pour les écrans d'ordinateur */
  @media (min-width: 768px) {
    .container {
      padding: 50px;
    }
  
    .formulaire {
      flex-direction: row;
    }
  
    .form-control {
      margin-right: 10px;
    }
  }
  